<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Восстановление пароля</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h3 class="mt-3 mb-3">Пользователя с таким email не существует</h3>
    <form method="GET" class="needs-validation center" novalidate style="max-width: 50vw"
          th:action="'/login'">
        <div class="mt-3 row g-1">
            <br>
            <button type="submit" class="btn btn-success" onclick="validateFormChangePass()">К авторизации</button>
        </div>
    </form>
</div>
</body>
</html>
