<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Профиль пользователя: ' + ${userForm.getName()}"></h3>
        <hr class="hr"/>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="login" class="col-sm-2 col-form-label no-border">Логин:</label>
                <div class="col-sm-10">
                    <p th:text="${userForm.getLogin()}" type="text" readonly class="form-control-plaintext" id="login">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="name" class="col-sm-2 col-form-label no-border">Имя:</label>
                <div class="col-sm-10">
                    <p th:text="${userForm.getName()}" type="text" readonly class="form-control-plaintext"
                       id="name">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="email" class="col-sm-2 col-form-label no-border">Email:</label>
                <div class="col-sm-10">
                    <p th:text="${userForm.getEmail()}" type="text" readonly class="form-control-plaintext"
                       id="email">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="tgBotToken" class="col-sm-2 col-form-label no-border">Tg-token:</label>
                <div class="col-sm-10">
                    <p th:text="${userForm.getTgBotToken()}" type="text" readonly class="form-control-plaintext"
                       id="tgBotToken">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="tgChatId" class="col-sm-2 col-form-label no-border">tg chat id:</label>
                <div class="col-sm-10">
                    <p th:text="${userForm.getTgChatId()}" type="text" readonly class="form-control-plaintext"
                       id="tgChatId">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <a sec:authorize="isAuthenticated() && (hasRole('USER'))"
               th:if="${#authentication.getPrincipal().getUserId()} == ${userForm.getId()}" class="btn btn-primary"
               th:href="'/users/profile/update/' + ${userForm.getId()}">Редактировать</a>
            <a sec:authorize="isAuthenticated() && hasRole('USER')"
               th:href="'/users/change-password/' + ${userForm.getId()}"
               class="btn btn-warning" aria-disabled="true">Изменить пароль</a>
        </div>
    </div>
</form>
</body>
</html>
