<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: transparent ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #000000">Мониторинг цен</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/products/add">Добавить продукт</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && hasRole('USER')" class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           th:href="'/products/all/' + ${#authentication.getPrincipal().getUserId()}">Продукты</a>
                    </li>

            </div>
        </div>
</div>
</nav>
</div>

