<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: transparent ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #000000">Запись к врачу</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/products/add">Добавить продукт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/products/all">Продукты</a>
                    </li>
<!--                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('DOCTOR'))" class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" href="/clients">Клиенты</a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" href="/doctorslots">Расписание</a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated() && hasRole('DOCTOR')" class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page"-->
<!--                           th:href="'/doctorslots/doctor-schedule/' + ${#authentication.getPrincipal().getUserId()}">Мое-->
<!--                            расписание</a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated() && hasRole('CLIENT')" class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" href="/doctorslots/makeMeet">Записаться</a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated() && hasRole('CLIENT')" class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page"-->
<!--                           th:href="'/registrations/client-slots/' + ${#authentication.getPrincipal().getUserId()}">Мои-->
<!--                            записи</a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated() && hasRole('DOCTOR')" class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page"-->
<!--                           th:href="'/registrations/doctor-slots-today/' + ${#authentication.getPrincipal().getUserId()}">Сегодня</a>-->
<!--                    </li>-->
                </ul>

<!--                <div sec:authorize="isAuthenticated() && hasRole('CLIENT')">-->
<!--                    <a class="nav-link active" style="float: right"-->
<!--                       th:href="'/clients/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>-->
<!--                </div>-->
<!--                <div sec:authorize="isAuthenticated() && hasRole('DOCTOR')">-->
<!--                    <a class="nav-link active" style="float: right"-->
<!--                       th:href="'/doctors/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>-->
<!--                </div>-->

<!--                    <form class="d-flex" sec:authorize="!isAuthenticated()">-->
<!--                        <a href="/login" class="btn btn-dark" role="button" aria-disabled="true">Войти</a>-->
<!--                    </form>-->
<!--                    <form class="d-flex" sec:authorize="isAuthenticated()">-->
<!--                        <a href="/logout" class="btn btn-dark" role="button" aria-disabled="true">Выйти</a>-->
<!--                    </form>-->
                </div>
            </div>
        </div>
    </nav>
</div>

