.not-active-reg {
    color: red;
}

.active-reg {
    color: #009b00;
}

.nav-link {
    color: #000000 !important;
}

.btn-dark {
    color: black !important;
    background-color: inherit !important;
    border: 0 !important;
}

.btn-dark:hover {
    color: black !important;
    background-color: inherit !important;
    border: 0 !important;
}

.btn-primary {
    color: #000000 !important;
    background-color: #00CED1 !important;
    border-color: #00CED1 !important;
}

.btn-primary:hover {
    background-color: #00CED1 !important;
    border-color: #00CED1 !important;
    color: #00575a !important;
}

.btn-success {
    color: #000000 !important;
    background-color: #2ac3ff !important;
    border-color: #2ac3ff !important;
    width: fit-content !important;
    /*margin-left: 10px;*/
    /*min-width: 100px;*/
}

.btn-success:hover {
    color: #000000 !important;
    background-color: #27afe5 !important;
    border-color: #27afe5 !important;
}

.btn-secondary {
    margin: 0 auto !important;
    display: block !important;
    width: auto !important;
    color: #000000 !important;
    background-color: #27e59c !important;
    border-color: #27e59c !important;
}

.btn-secondary:hover {

    color: #000000 !important;
    background-color: #20c384 !important;
    border-color: #27e59c !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #001445;
}
