<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
<div layout:fragment="content">

    <form method="POST" th:action="@{'/products/all/' + ${#authentication.getPrincipal().getUserId()}}">
        <h3 align="center">Продукты</h3>
        <table class="table table-bordered table-sm mt-3">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Ожидание</th>
                <th scope="col">Ссылка</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${products}">
                <td th:text="${p.getName().substring(0, (p.getName().length() > 90) ? 90 : p.getName().length())}"></td>
                <td th:text="${p.getPrice()}"></td>
                <td th:text="${p.getExpectedPrice()}"></td>
                <td><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       th:href="@{${p.getUrl()}}">link</a></td>
                <td>
                    <a class="btn btn-sm btn-warning"
                       th:href="'/story/' + ${p.getId()}">История</a>
                    <a class="btn btn-sm btn-info"
                       th:href="'/products/update/' + ${p.getId()}">Редактировать</a>
                    <a class="btn btn-sm btn-danger"
                       th:href="'/products/delete/' + ${p.getId()}"
                       onclick="return confirm('Удалить товар и историю?')">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mt1-l">
            <br>
            <div class="vk">
                <button class="btn btn-sm btn-info" type="submit">Актуализировать</button>
            </div>
        </div>
    </form>

</div>
</div>
</body>
</html>