<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
<div layout:fragment="content">

    <div><br></div>
    <h3 align="center">Продукты</h3>
        <table class="table table-bordered table-sm mt-3">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Ссылка</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="p : ${products}">
                <td th:text="${p.getName()}"></td>
                <td th:text="${p.getPrice()}"></td>
                <td> <a th:href="@{${p.getUrl()}}">Ссылка</a> </td>
<!--                <td>-->
<!--                    <a class="btn btn-sm btn-info"-->
<!--                       th:href="'/doctors/' + ${d.getId()}">О враче</a>-->
<!--                    <a sec:authorize="hasRole('ADMIN')" th:if="${!d.isDeleted()}"-->
<!--                       class="btn btn-sm btn-danger"-->
<!--                       th:href="'/doctors/softdelete/' + ${d.getId()}"-->
<!--                       onclick="return confirm('Вы хотите удалить врача?' +-->
<!--                        '\nУдалится все его расписание и отменятся все вктивные записи!')">Удалить</a>-->
<!--                    <a sec:authorize="hasRole('ADMIN')" th:if="${d.isDeleted()}" class="btn btn-sm btn-warning"-->
<!--                       th:href="'/doctors/restore/' + ${d.getId()}"-->
<!--                       onclick="return confirm('Вы хотите восстановить врача?' + '\nБудет восстановлено его расписание')">Восстановить</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
<!--    <nav aria-label="Pagination" th:if="${doctors.totalPages gt 0}">-->
<!--        <ul class="pagination justify-content-center font-weight-bold">-->
<!--            <li class="page-item" th:classappend="${doctors.number eq 0} ? 'disabled'">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{/doctors?page={id}(id=${doctors.number lt 2 ? 1 : doctors.number})}"-->
<!--                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                    <span aria-hidden="true">&laquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item"-->
<!--                th:each="i : ${#numbers.sequence(1, doctors.totalPages, 1)}"-->
<!--                th:classappend="${i eq doctors.number + 1} ? 'active'">-->
<!--                <a class="page-link" th:href="@{/doctors?page={id}(id=${i})}" th:text="${i}"-->
<!--                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.number eq doctors.totalPages - 1} ? 'disabled'">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{/doctors?page={id}(id=${doctors.number + 2})}"-->
<!--                   aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                    <span aria-hidden="true">&raquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</div>
</body>
</html>