<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" th:action="@{/}">
    <h3 class="mt-3 mb-3" >Добавить продукт</h3>
    <div class="mt-3 row g-2">
        <div class="col-md">
            <input name="url" type="text" class="form-control" id="url" placeholder="Введите ссылку"
                   required>
            <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
    </div>

    <div class="mt1-l">
        <br>
        <div class="vk">
            <button type="submit">Сохранить</button>
        </div>
    </div>
</form>
</body>
</html>