<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<div layout:fragment="content">

    <form method="POST" th:action="@{/products/all}">
        <h3 align="center">История цен</h3>
        <table class="table table-bordered table-sm mt-3">
            <thead>
            <tr>
                <th scope="col">Цена</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${productList}">
                <td th:text="${p.getPrice()}"></td>
                <td th:text="${p.getDate()}"></td>
<!--                <td><a th:href="@{${p.getUrl()}}">Ссылка</a></td>-->
<!--                <td>-->
<!--                    <a class="btn btn-sm btn-info"-->
<!--                       th:href="'/story/' + ${p.getId()}">История</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
<!--        <div class="mt1-l">-->
<!--            <br>-->
<!--            <div class="vk">-->
<!--                <button type="submit">Актуализировать</button>-->
<!--            </div>-->
<!--        </div>-->
    </form>

</div>
<!--    <nav aria-label="Pagination" th:if="${doctors.totalPages gt 0}">-->
<!--        <ul class="pagination justify-content-center font-weight-bold">-->
<!--            <li class="page-item" th:classappend="${doctors.number eq 0} ? 'disabled'">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{/doctors?page={id}(id=${doctors.number lt 2 ? 1 : doctors.number})}"-->
<!--                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                    <span aria-hidden="true">&laquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item"-->
<!--                th:each="i : ${#numbers.sequence(1, doctors.totalPages, 1)}"-->
<!--                th:classappend="${i eq doctors.number + 1} ? 'active'">-->
<!--                <a class="page-link" th:href="@{/doctors?page={id}(id=${i})}" th:text="${i}"-->
<!--                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.number eq doctors.totalPages - 1} ? 'disabled'">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{/doctors?page={id}(id=${doctors.number + 2})}"-->
<!--                   aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                    <span aria-hidden="true">&raquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</div>
</body>
</html>