<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<div layout:fragment="content">

    <form method="POST" th:action="@{/products/all}">
        <h3 align="center">История цен</h3>
        <table class="table table-bordered table-sm mt-3">
            <thead>
            <tr>
                <th scope="col">Цена</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${productList}">
                <td th:text="${p.getPrice()}"></td>
                <td th:text="${p.getDate()}"></td>
<!--                <td><a th:href="@{${p.getUrl()}}">Ссылка</a></td>-->
<!--                <td>-->
<!--                    <a class="btn btn-sm btn-info"-->
<!--                       th:href="'/story/' + ${p.getId()}">История</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </form>

</div>
</div>
</body>
</html>